
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Vue.js</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse margin " id="navbarSupportedContent">
  
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <!--
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      </form>
    <ul class="navbar-nav mr-auto ">
     
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"> Guide</a>
          <a class="dropdown-item" href="#">API</a>
          <a class="dropdown-item" href="#">Style Guide</a>
          <a class="dropdown-item" href="#">Examples</a>
          <a class="dropdown-item" href="#">Cookbook</a>
          
        </div>
      </li>
     
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ecosystem
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <h6 class="dropdown-item">Help</h6>
              
              <div class="dropdown-divider"></div>
              
              <li><a href="https://forum.vuejs.org/" class="dropdown-item" target="_blank">Forum</a></li>
              <li><a href="https://chat.vuejs.org/" class="dropdown-item"  target="_blank">Chat</a></li>
              <li><a href="https://www.vuemeetups.org/" class="dropdown-item" target="_blank">Meetups</a></li>
              
              <li><a href="https://github.com/vuejs/vue-devtools" class="dropdown-item" target="_blank">Devtools</a></li>
              <li><a href="https://vuejs-templates.github.io/webpack" class="dropdown-item" target="_blank">Webpack Template</a></li>
              <li><a href="https://vue-loader.vuejs.org" class="dropdown-item" target="_blank">Vue Loader</a></li>
              
              <div class="dropdown-divider"></div>
              
              <h6 class="dropdown-item">Tooling</h6>
              <li><a href="https://github.com/vuejs/vue-devtools" class="dropdown-item" target="_blank">Devtools</a></li>
              <li><a href="https://vuejs-templates.github.io/webpack" class="dropdown-item" target="_blank">Webpack Template</a></li>
              <li><a href="https://vue-loader.vuejs.org" class="dropdown-item" target="_blank">Vue Loader</a></li>

              <div class="dropdown-divider"></div>

              <h6 class="dropdown-item">Core libraries</h6>
              <li><a href="https://router.vuejs.org/" class="dropdown-item" target="_blank">Vue Router</a></li>
              <li><a href="https://vuex.vuejs.org/" class="dropdown-item" target="_blank">Vuex</a></li>
             <li><a href="https://ssr.vuejs.org/" class="dropdown-item" target="_blank">Vue Server Renderer</a></li>

        </div>
      </li>




      <li class="nav-item active">
          <a class="nav-link" href="#">Team <span class="sr-only">(current)</span></a>
        </li>
        
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Support Vue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/support-vuejs/#One-time-Donations" class="dropdown-item">One-time Donations</a></li>
                <li><a href="/support-vuejs/#Recurring-Pledges" class="dropdown-item">Recurring Pledges</a></li>
                <li><a href="https://vue.threadless.com" target="_blank" class="dropdown-item">T-Shirt Shop</a></li>
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Translations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a href="https://cn.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">中文</a></li>
                  <li><a href="https://jp.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">日本語</a></li>
                  <li><a href="https://ru.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">Русский</a></li>
                  <li><a href="https://kr.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">한국어</a></li>
                  <li><a href="https://br.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">Português</a></li>
                  <li><a href="https://fr.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">Français</a></li>
                  <li><a href="https://vi.vuejs.org/support-vuejs/index.html" class="dropdown-item" target="_blank">Tiếng Việt</a></li>
              </div>
            </li>



        
    </ul>
    
  </div>
</nav>