<div class="container-fluid">
  <div class="row justify-content-center">
    <table>
      <tr>
        <td colspan="6"><h3>Patreon Sponsors</h3></td>
      </tr>
      <tr>
        <td colspan="2">
          <a href="https://bitsrc.io/?utm_source=vue&utm_medium=vue&utm_campaign=vue&utm_term=vue&utm_content=vue"  target="_blank" >
            <img src="../../../assets/img/bit-wide.png" style="width: 160px;" alt="" class="img-fluid" >
          </a>
        </td>
        <td colspan="2"><a href="http://tooltwist.com/" target="_blank"><img src="../../../assets/img/tooltwist.png" style="width: 160px;"  alt="" class="img-fluid especial" ></a></td>
        <td colspan="2"><a href="https://vueschool.io/?utm_source=Vuejs.org&utm_medium=Banner&utm_campaign=Sponsored%20Banner&utm_content=V1" target="_blank"><img src="../../../assets/img/vueschool.png" style="width: 160px;" alt="" class="img-fluid" ></a></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan=""><a href="https://vehikl.com/" target="_blank"><img src="../../../assets/img/vehikl.png" alt="" class="especial img-fluid logos1" ></a></td>
        <td colspan=""><a href="https://www.nativescript.org/" target="_blank"><img src="../../../assets/img/nativescript.png" alt="" class="img-fluid logos1" ></a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://www.vuemastery.com/" target="_blank"><img src="../../../assets/img/vuemastery.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://laravel.com/" target="_blank"><img src="../../../assets/img/laravel.png"  class="img-fluid logos2 "  alt=""></a></td>
        <td><a href="https://htmlburger.com/" target="_blank"><img src="../../../assets/img/htmlburger.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://www.chaitin.cn/en/" target="_blank"><img src="../../../assets/img/chaitin.png"  class="img-fluid logos2"  alt=""></a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://www.frontenddeveloperlove.com/" target="_blank"><img src="../../../assets/img/frontend-love.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://onsen.io/vue/" target="_blank"><img src="../../../assets/img/onsen-ui.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://vuetifyjs.com/en/" target="_blank"><img src="../../../assets/img/vuetify.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://www.neds.com.au/" target="_blank"><img src="../../../assets/img/neds.png"  class="img-fluid logos2"  alt=""></a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://hackr.io/tutorials/learn-vue-js" target="_blank"><img src="../../../assets/img/hackr-io.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://icons8.com/" target="_blank"><img src="../../../assets/img/icons8.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://vuejobs.com/?ref=vuejs" target="_blank"><img src="../../../assets/img/vuejobs.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://codepilot.ai/" target="_blank"><img src="../../../assets/img/codepilot.png"  class="img-fluid logos2"  alt=""></a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://teamextension.io/" target="_blank"><img src="../../../assets/img/teamextension.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="http://aaha.co/" target="_blank"><img src="../../../assets/img/aaha.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://www.valuecoders.com/" target="_blank"><img src="../../../assets/img/valuecoders.png"  class="img-fluid logos2"  alt=""></a></td>
        <td><a href="https://www.nsoft.com/careers/" target="_blank"><img src="../../../assets/img/nsoft.png"  class="img-fluid logos2"  alt=""></a></td>
        <td></td>
      </tr>
    
        <tr>
          <td colspan="6">
              <a href="https://coreui.io/" target="_blank"><img src="../../../assets/img/coreui.png" alt="" class="img-fluid logos2 logos3 " ></a>
              <a href="https://piio.co/vuejs?ref=vuejs" target="_blank"><img src="../../../assets/img/piio.png" alt="" class="img-fluid logos2 logos3 " ></a>
              <a href="https://tidelift.com/subscription/pkg/npm-vue" target="_blank"><img src="../../../assets/img/tidelift.png" alt="" class="img-fluid logos2 logos3 " ></a>

          </td>
        </tr>
     
      
    </table>
   
  </div>
  <div class="row justify-content-center">
    <a href="https://vuejs.org/support-vuejs/" class="boton" target="_blank">Become a Sponsor!</a>

  </div>
 <div class="row justify-content-center">
    <p>OpenCollective  Sponsors<br>
      Platinum</p>

 </div>
 <div class="row justify-content-center">
   <a href="https://opencollective.com/vuejs?utm_source=opencollective&utm_medium=github&utm_campaign=vuejs#support" target="_blank" >
    <img src="../../../assets/img/avatar.svg" alt="">
  </a>
 </div>
 <div class="row justify-content-center">
   <p>Gold</p>
   
 </div>
 <div class="row justify-content-center">
   <a href="https://opencollective.com/vuejs?utm_source=opencollective&utm_medium=github&utm_campaign=vuejs#support" target="_blank">
    <img src="../../../assets/img/avatar.svg" alt="">
  </a>
 </div>
</div>