<div class="container">

 <div class="row">
    <div class="col-md-4">
        <img src="../../../assets/img/índice.png" class="img-fluid logo" width="60%" alt="">
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <td colspan="3">
             <p> The Progressive <br>
                JavaScript Framework</p>
          </td>
        </tr>
        <tr>
          <td>
            <a href="" class="boton1">WHY VUE.JS?</a>
          </td>
          <td>
              <a href="https://vuejs.org/v2/guide/" class="boton2">GET STARTED</a>
          </td>
          <td>
                <a href="https://github.com/vuejs/vue" class="boton3">GIT HUB</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>